<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>Jão</ion-title>
    <ion-buttons slot="start">
      <ion-back-button><ion-icon name="arrow-back-outline"></ion-icon></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">


  <ion-card color="medium">
    <img alt="" src="../../assets/jão.jpg" />
    <ion-card-header>
      <ion-card-subtitle >
        ID => 6
        <br>
        E-mail:Jao@gmail.com
      </ion-card-subtitle>
    </ion-card-header>


    <ion-card-content>
      <h1>Biografia:</h1>
      João Vitor Romania Balbino (Américo Brasiliense, 3 de novembro de 1994), mais conhecido pelo seu nome artístico
      Jão, é um cantor e compositor brasileiro. Ele começou sua carreira musical em 2016, postando covers de canções no
      aplicativo de compartilhamento de vídeos YouTube. Ele chamou a atenção dos produtores Pedro Dash e Marcelinho
      Ferraz, o que o levou a assinar um contrato com a Head Media, selo da Universal Music Group. Ele lançou seu single
      de estreia, "Dança pra Mim" (com Pedrowl), em novembro de 2016. O EP de estreia de Jão intitulado Primeiro
      Acústico foi lançado em junho de 2018, seguido por seu primeiro álbum de estúdio, Lobos, em agosto do mesmo ano.

      A descoberta de Jão veio quando seu single "Imaturo" recebeu um reconhecimento significativo; a canção recebeu
      certificação de diamante no Brasil. Seu segundo álbum de estúdio, Anti-Herói, foi lançado em outubro de 2019, e
      foi apoiado pelos singles "Enquanto Me Beija" e "Essa Eu Fiz pro Nosso Amor". O álbum estreou todas as suas 10
      faixas no top 200 do Spotify Brasil. Seu terceiro álbum de estúdio, Pirata, foi lançado em outubro de 2021. O
      single "Idiota" foi a canção do álbum que mais se destacou, alcançando a segunda posição nas rádios pop do Brasil
      e o top 20 na parada de singles de Portugal. No Grammy Latino de 2022, Pirata foi indicado para Melhor Álbum Pop
      Contemporâneo em Língua Portuguesa, enquanto "Idiota" foi indicada para Melhor Canção em Língua Portuguesa.

      Entre seus prêmios, Jão ganhou três MTV Miaw Brasil, um Troféu Imprensa e um Internet e recebeu duas indicações ao
      Grammy Latino e sete ao Prêmio Multishow de Música Brasileira.
    </ion-card-content>
    <ion-card-content>
      <h1>Albuns:</h1>
      <u>Pirata</u>
      <br>
      <u>Anti-Herói</u>
      <br>
      <u>Lobos</u>
      <br>
      <u>Turnê Anti-Herói</u>
    </ion-card-content>
  </ion-card>

</ion-content>
