<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>Luísa Sonza</ion-title>
    <ion-buttons slot="start">
      <ion-back-button><ion-icon name="arrow-back-outline"></ion-icon></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">

  <ion-card color="medium">
    <img alt="" src="../../assets/lulu.jpg" />
    <ion-card-header>
      <ion-card-subtitle >
        ID => 5
        <br>
        E-mail:Luisasonza@gmail.com
      </ion-card-subtitle>
    </ion-card-header>


    <ion-card-content>
      <h1>Biografia:</h1>
      Luísa Gerloff Sonza (Tuparendi, 18 de julho de 1998) é uma cantora e compositora brasileira. Iniciou sua
      carreira em 2014 com covers de músicas famosas no YouTube que ganhou notoriedade e, mais de três anos depois,
      assinou um contrato com a Universal Music Brasil e lançou seu primeiro álbum de estúdio, intitulado de Pandora
      (2019). Luísa iniciou sua carreira em festivais musicais e aos sete anos de idade foi contratada pela banda Sol
      Maior, realizando diversos eventos com a banda até seus dezessete anos. Em 2014, Sonza criou seu próprio canal
      no YouTube onde passou a publicar versões cover de músicas de vários artistas, o que fez Luísa ganhar visibilidade
      na internet, passando a ser chamada pelo público de "Rainha dos Covers", chegando a fazer 24 shows para
      aproximadamente 40 mil pessoas. Em maio de 2017, Sonza assinou com a gravadora Universal Music e lançou sua
      primeira música autoral, intitulada "Good Vibes". Em julho, Sonza lançou seu segundo single, intitulado
      "Olhos Castanhos", canção de Luísa em homenagem ao seu esposo Whindersson Nunes. Em outubro, foi lançado seu
      primeiro extended play auto-intitulado, onde contém a faixa "Não Preciso de Você Pra Nada", com a participação do
      cantor Luan Santana.
    </ion-card-content>
    <ion-card-content>
      <h1>Albuns:</h1>
      <u>Rebolar (remix)</u>
      <br>
      <u>Pandora</u>
      <br>
      <u>Doce 22</u>
      <br>
      <u>Mamacita</u>
      <br>
      <u>YouTube Music Night</u>
      <br>
      <u>Luísa Sonza EP</u>
    </ion-card-content>
  </ion-card>

</ion-content>
