<ion-header [translucent]="true">
  <ion-toolbar  color="dark">
    <ion-title>Lady Gaga</ion-title>
    <ion-buttons slot="start">
      <ion-back-button><ion-icon name="arrow-back-outline"></ion-icon></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  color="dark">

  <ion-card color="medium">
    <img alt="" src="../../assets/lady gaga.jpg" />
    <ion-card-header>
      <ion-card-subtitle >
        ID => 4
        <br>
        E-mail:Ladygaga@gmail.com
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content >
      <h1>Biografia:</h1>
      Stefani Joanne Angelina Germanotta (Nova Iorque, 28 de março de 1986), mais conhecida pelo nome artístico Lady
      Gaga, é uma cantora, compositora, instrumentista, atriz, produtora musical e empresária
      estadunidense. Influenciada por artistas como David Bowie, Michael Jackson, Madonna e
      Queen, Gaga é reconhecida pelas suas contribuições extravagantes, diferentes e exageradas à indústria
      musical através de sua moda, aparições públicas, atuações e vídeos musicais. O Guinness Book a registrou como a
      primeira cantora da história a vender 10 milhões de cópias globais com quatro canções diferentes em um ano.

      Gaga começou a apresentar-se no cenário musical de rock no Lower East Side em 2003, e mais tarde matriculou-se na
      Tisch School of Arts da Universidade de Nova Iorque. No fim de 2007, assinou um contrato com a Streamline
      Records, um selo da editora discográfica Interscope Records. Durante o seu início na Interscope, trabalhou como
      compositora para artistas e capturou a atenção do produtor Akon, que reconheceu as suas habilidades vocais e
      contratou-a para a sua própria gravadora, a Kon Live Distribution. Ela ganhou proeminência como uma artista
      após o lançamento do seu álbum de estúdio de estreia, intitulado The Fame, em 2008. O disco foi um sucesso a nível
      crítico e comercial, tendo atingido o número um no Reino Unido, Canadá, Áustria, Alemanha e Irlanda, enquanto nos
      Estados Unidos alcançou a posição máxima de número dois na Billboard 200. As canções "Just Dance" e "Poker
      Face", co-escritas e produzidas por RedOne, tornaram-se sucessos internacionais de número um, atingindo o topo da
      Billboard Hot 100 nos EUA, bem como em vários outros países. O álbum, mais tarde, conseguiu um total de
      sete indicações e dois prêmios nos Grammy Awards. No início de 2009, ela embarcou em sua primeira turnê, a The
      Fame Ball Tour. No quarto trimestre do ano, lançou o extended play (EP) The Fame Monster, que contém os êxitos
      internacionais "Bad Romance", "Telephone" e "Alejandro", e embarcou em sua segunda turnê, a The Monster Ball Tour.
      The Fame Monster vendeu 10 milhões de cópias mundialmente e foi o álbum mais vendido de 2010.
    </ion-card-content>
    <ion-card-content>
      <h1>Albuns:</h1>
      <u>Born This Way</u>
      <br>
      <u>Artpop</u>
      <br>
      <u>The Fame</u>
      <br>
      <u>Chromatica</u>
      <br>
      <u>Joanne</u>
      <br>
      <u>A Star Is Born</u>
      <br>
      <u>The Fame Monster</u>
      <br>
      <u>Disco Heaven: The Fame</u>
    </ion-card-content>
  </ion-card>


</ion-content>
