<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>The weeknd</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">

  <ion-card color="medium">
    <img alt="" src="../../assets/theweeknd.png" />
    <ion-card-header>
      <ion-card-title>The Weeknd</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <h1>Biografia:</h1>
      Abel Makkonen Tesfaye, nascido em Toronto, no Canadá, no dia 16 de fevereiro de 1990, é mais conhecido ao redor do
      mundo como The Weeknd. O músico e produtor musical, do gênero R&B, é conhecido pelo uso de uma sonoridade bastante
      atmosférica em suas canções.

      Tesfaye cresceu ouvindo uma variedade de gêneros musicais, incluindo soul, quiet storm, hip hop, funk, indie rock
      e pós-punk. Após uma adolescência conturbada, aos 17 anos, Abel decidiu abandonar a escola e sair de casa da mãe.
      Esse período foi complicado, como o próprio admitiu ao New York Times: “A minha mãe olhou para mim como se tivesse
      falhado”.
    </ion-card-content>
    <ion-card-content>
      <h1>Albuns:</h1>
      <u>House of Balloons</u>
      <br>
      <u>Thursday</u>
      <br>
      <u>Echoes of Silence</u>
      <br>
      <u>Trilogy</u>
      <br>
      <u>Kiss Land</u>
      <br>
      <u>Beauty Behind the Madness</u>
      <br>
      <u>Starboy</u>
      <br>
      <u>My Dear Melancholy</u>
      <br>
      <u>After Hours</u>
      <br>
      <u>The Highlights</u>
      <br>
      <u>Dawn FM</u>
      <br>
    </ion-card-content>
  </ion-card>

</ion-content>
