<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Melanie Martinez</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">

  <ion-card color="medium">
    <img alt="" src="../../assets/melanie.jpg" />
    <ion-card-header>
      <ion-card-title>Melanie Martinez</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <h1>Biografia:</h1>
      Melanie Adele Martinez (Astoria, Queens; 28 de abril de 1995), mais conhecida como Melanie Martinez, é uma
      cantora, compositora, diretora e atriz estadunidense.

      Melanie se tornou conhecida por suas canções com letras polêmicas e por seu estilo e cabelo de duas cores. Suas
      letras combinam um lado obscuro com seu jeito super meigo. Enquanto no ensino médio, participou de concursos de
      talentos da escola e recitais de microfone aberto em locais da ilha Long Island, onde ficava perto da cidade natal
      da cantora. Posteriormente, ela participou da terceira temporada da edição norte-americana da competição de canto
      The Voice, onde estreou cantando "Toxic", de autoria da compatriota Britney Spears. Três dos quatro juízes, sendo
      eles Adam Levine, Blake Shelton e Cee Lo Green, apertaram o botão de escolha para ela. Martinez escolheu Adam
      Levine para ser seu treinador e saiu do programa quando havia apenas seis competidores.
    </ion-card-content>
    <ion-card-content>
      <h1>Albuns:</h1>
      <u>Dollhouse</u>
      <br>
      <u>Cry Baby</u>
      <br>
      <u>Pity Party</u>
      <br>
      <u>Cry Baby’s Extra Clutter EP</u>
      <br>
      <u>K-12</u>
      <br>
      <u>After School</u>
      <br>
      <u>Portals</u>
    </ion-card-content>
  </ion-card>


</ion-content>
