<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Lana del Rey</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <ion-card color="medium">
    <img alt="" src="../../assets/lana.jpg" />
    <ion-card-header>
      <ion-card-title>Lana del Rey</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <h1>Biografia:</h1>
      Elizabeth Woolridge Grant (Nova Iorque, 21 de junho de 1985), mais conhecida como Lana Del Rey, é uma cantora,
      compositora e poetisa norte-americana. Sua música tem sido notada pelos críticos por seu aspecto cinematográfico
      estilizado, suas temáticas de romances trágicos, glamour e melancolia, e suas referências à cultura pop,
      especialmente a cultura dos Estados Unidos nos anos 1950 e 1960. Indicada a vários prêmios Grammy,[5] Globo de
      Ouro[6] e outros, em 2021, foi nomeada "Artista da Década" no Variety Hitmakers Awards, sendo apresentada como
      ″uma das cantoras e compositoras mais influentes do século XXI".[7][8]
    </ion-card-content>
    <ion-card-content>
      <h1>Albuns:</h1>
      <u>Lana Del Ray A.K.A. Lizzy Grant</u>
      <br>
      <u>Born to Die</u>
      <br>
    </ion-card-content>
  </ion-card>
</ion-content>
